body {
  background-color: #eeeeee;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* .index-container {
  height: 100vh;
} */

.index-img {
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
}

.index-img-wrapper {
  width: 17.4rem;
  height: 17.4rem;
  border-radius: 100%;
  background-color: #ffffff;
}

.icon-wrapper {
  background-color: #eeeeee;
  width: 6rem;
  border-radius: 10%;
  color: #8a8a8a;
}
