body {
  background-color: #eeeeee;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* .index-container {
  height: 100vh;
} */

.index-img {
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
}

.index-img-wrapper {
  width: 17.4rem;
  height: 17.4rem;
  border-radius: 100%;
  background-color: #ffffff;
}

.icon-wrapper {
  background-color: #eeeeee;
  width: 6rem;
  border-radius: 10%;
  color: #8a8a8a;
}

.card {
  height: 100%;
}

.footer-img {
  height: 2.5rem;
}

footer {
  background-color: #ffffff;
  padding: 1rem;
}

.future-hacks {
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 0.7rem;
}

.created{
  font-weight: bold;
}

.links{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.future-link{
  text-decoration:none;
}